* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgb(255, 192, 75);
  background-color: #303541;
}
.title{
  text-align: center;
}
.iotd{
  text-align: center;
 width: 600px;
 height: 500px;
}